#shop {
    display: flex;
    height: calc(100vh - 160px);
    width: 100%;
}


/* Filter starts here  */

.filter {
    height: 100%;
    width: 25%;
    padding: 40px;
}

#search {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font: 18px roboto slab;
    background-color: rgb(240, 240, 240);
}

#search::placeholder {
    font: 18px roboto slab;
}

.categories {
    width: 100%;
    margin-top: 20px;
}

.categories h3 {
    display: inline-block;
    margin: 10px 0;
    font: 22px jost;
    cursor: pointer;
}

.categories i {
    display: none;
    cursor: pointer;
}

.categories span {
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.categories span input {
    cursor: pointer;
}

.categories span label {
    margin: 5px;
    font: 18px jost;
    cursor: pointer;
}

.apply-btn {
    border: none;
    outline: none;
    float: right;
    padding: 7px 20px;
    margin-top: 20px;
    font: 20px jost;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.apply-btn:hover {
    background-color: var(--primary-color);
    color: white;
}


/* Filter ends here  */

.product-container {
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 25px;
    overflow-y: auto;
    gap: 25px;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.product-container::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.product-items {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: all 1s;
}

.product-items:hover {
    box-shadow: inset 0 0 10px black;
}

.item-img {
    height: 200px;
    overflow: hidden;
}

.item-img img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.item-detail p {
    padding: 10px 5px;
    font: 18px jost;
    color: rgb(37, 37, 37);
}

.item-detail p:first-child {
    font-weight: 600px;
    letter-spacing: 1px;
}

.detail-btn {
    height: 35px;
    width: 60%;
    padding: 0;
    margin-top: 5px;
    float: right;
}

.hidden-detail {
    display: none;
}