@font-face {
    font-family: main-font;
    src: url('../fonts/Gotham-Medium.ttf');
}

:root {
    --primary-color: #5166E4;
    --secondary-color: #DD6667;
    --heading-color: #272727;
    --para-color: #9e9e9e;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    font-family: main-font;
    color: var(--heading-color);
}


/* Header style code starts here */
header {
    width: 100%;
    padding: 1em 4em;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* Logo adjusments */
#logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logo img {
    height: 30px;
}

/* Logo adjusments */
/* nav adjusments */

nav {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all 0.5s;
    font-size: 1rem;
    font-weight: 100;
}

.menu li a:hover {
    color: var(--secondary-color);
}

#login-btn {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid var(--secondary-color);
}

#login-btn:hover {
    border: 2px solid var(--secondary-color);
    background-color: white;
    color: var(--secondary-color);
}

/* nav adjusments */
/* Header style code endss here */
/* Main style code starts here */

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main content starts here  */

#main-content {
    width: 40%;
    display: inline-block;
    margin: auto;
    padding: 5em 0em 5em 6em;
}

#main-content h3 {
    font-size: 2rem;
}


#chrome-btn {
    margin-top: 1em;
    background-color: var(--primary-color);
    color: white;
    border: 1.5px solid var(--primary-color);
    margin-right: 0.5em;
}

#chrome-btn:hover {
    background-color: white;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
}

#firefox-btn {
    margin-top: 1em;
    background-color: whitesmoke;
    border: 1.5px solid transparent;
}

#firefox-btn:hover {
    border: 1.5px solid var(--heading-color);
}

/* Main content ends here  */
/* Main img starts here  */

#main-img {
    width: 60%;
    height: 100%;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-img img {
    margin-top: 5em;
    width: 100%;
}



/* Main img starts here  */
/* Main style code ends here */
/* Features section style code starts here */
#features {
    width: 100%;
}

.feature-head {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature-head p {
    width: 30%;
}

.feature-slider {
    width: 100%;
}

.slider-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    padding: 1.5em 2.5em;
    color: var(--heading-color);
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
}

.controls:hover {
    color: var(--secondary-color);
}

.active-slide-control {
    border-bottom: 3px solid var(--secondary-color) !important;
}

.slider {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-slides,
.content-slides {
    height: 100%;
    width: 50%;
    position: relative;
}

.img-slides .bg-illustration {
    top: 40%;
    right: 10%;
}

.img-slide,
.content-slide {
    padding: 0 5em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slide {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.active-img-slide {
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 1;
}

.content-slide {
    align-items: flex-start;
    flex-direction: column;
    display: none;
}

.active-content-slide {
    display: flex;
}


.img-slide img {
    width: 100%;
}

.more-btn {
    background-color: var(--primary-color);
    color: white;
    border: 1.5px solid var(--primary-color);
}

.more-btn:hover {
    background-color: white;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
}

/* Features section style code ends here */
/* Download section style code starts here */
#download {
    width: 100%;
    margin-top: 4em;
}

.download-head {
    width: 100%;
    text-align: center;
    padding-top: 3em;
}

.download-head p {
    width: 30%;
    text-align: center;
    margin: 2em auto;
}


.download-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.download-card:nth-child(2) {
    margin-top: 4em;
}

.download-card:nth-child(3) {
    margin-top: 8em;
}


.download-card {
    width: 205px;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 8px var(--primary-color);
}

.download-card:hover .card-content {
    top: 0;
}

.card-top {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
    overflow: hidden;
}

.seperator-img {
    width: 100%;
}

.card-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#install-btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 0.65rem;
    border: 1.5px solid transparent;
}

#install-btn:hover {
    color: var(--primary-color);
    background-color: white;
    border: 1.5px solid var(--primary-color);
}

.card-content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    transition: all 0.5s;
}

.card-content p {
    color: white;
    font-size: small;
    letter-spacing: 0;
}

.card-content h5 {
    color: white;
    font-size: 1.2rem;
}

/* Download section style code ends here */
/* FAQ section style code starts here */
#faq {
    padding: 2em;
    width: 100%;
}

.faq-head {
    width: 100%;
    text-align: center;
}

.faq-head p {
    display: block;
    width: 30%;
    margin: 2em auto;
}

.faq-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.faq {
    width: 60%;
    border-top: 1px solid var(--para-color);
    border-bottom: 1px solid var(--para-color);
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.arrow-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    cursor: pointer;
    transition: all 0.5s;
}

.faq-question {
    font-family: arial;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.faq:hover .faq-question {
    color: var(--secondary-color);
}

.faq-answer {
    display: none;
}

/* FAQ section style code ends here */
/* Contact section style code starts here */
#contact {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 2em 5em;
}

.contact-head {
    width: 40%;
    margin: auto;
    text-align: center;
}

.contact-head p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin: 2em 0;
}


.contact-head h3 {
    font-size: 2rem;
    font-weight: lighter;
}


.contact-form {
    display: flex;
    margin-top: 3em;
    justify-content: center;
    gap: 2em;
}

.contact-form input[type=email] {
    width: 200px;
    height: 100%;
    padding: 0 1em;
    outline: none;
    border: 1.5px solid transparent;
    background-color: white;
}

#email-input {
    position: relative;
}

#email:invalid {
    color: red;
}


#submit-btn {
    background-color: var(--secondary-color);
    border: 1.5px solid transparent;
    color: white;
}

#submit-btn:hover {
    color: var(--secondary-color);
    background-color: white;
    border: 1.5px solid var(--secondary-color);
}

/* Contact section style code ends here */
/* Footer section style code starts here */
footer {
    background-color: var(--heading-color);
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 60%;
}

#footer-nav #logo {
    width: 30%;
}

#footer-nav #logo h4 {
    margin-left: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#footer-nav nav {
    width: 70%;
}

#footer-nav .menu {
    width: 100%;
}

#footer-nav .menu li a {
    color: white;
}

#footer-nav .menu li a:hover {
    color: var(--secondary-color);
}

.social-links {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-right: 2em;
}

.social-links i {
    font-size: 2.3rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.social-links i:hover {
    color: var(--secondary-color);
}

/* Footer section style code ends here */


/* Utility classes  */
.btn {
    padding: 0.7em 1.5em;
    font-size: 0.75rem;
    box-shadow: 2px 2px 4px rgba(131, 131, 131, 0.584);
    font-weight: 400;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all 0.5s;
}

.headings {
    text-align: center;
    font-size: 1.5rem;
}

.para {
    color: var(--para-color);
    margin: 1em 0;
    font-size: 0.85rem;
    font-weight: lighter;
    font-family: arial;
    letter-spacing: 1.5px;
    line-height: 1.20rem;
}

.bg-illustration {
    position: absolute;

    width: 100%;
    height: 100%;
}

/* Utility classes  */



@media (max-width:768px) {
    #logo img {
        height: 20px;
    }

    .menu {
        width: 100%;
        padding: 0;
        padding-left: 4em;
    }

    #main-content,
    #main-img {
        width: 50%;
        padding: 3em 0 3em 4em;
    }

    #main-img {
        padding: 3em 3em 3em 0em;
    }

    #main-content h3 {
        font-size: 1.5rem;
    }


    .para {
        font-size: 0.65rem;
    }

    .img-slide,
    .content-slide {
        padding: 0 2em;
    }

    .slider {

        height: 350px;
    }

    #download {
        margin: 0;
    }

    .download-head p,
    .feature-head p,
    .faq-head p {
        width: 50%;
    }

    .img-slides .bg-illustration {
        right: 0;
        width: 112%;
    }

    .bg-illustration img {
        width: 100%;
        height: auto;
    }

    .social-links i {
        font-size: 1.3rem;
    }

    #footer-nav {
        width: 75%;
    }

    #footer-nav #logo h4 {
        font-size: 0.7rem;
    }
}


.nav-icons {
    display: none;
}

.nav-social-links {
    display: none;
}


/* Preloader starts here  */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 550;
    transition: all 0.5s;
}

/* Preloader ends here  */